<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">List</li>
            <li class="breadcrumb-item"><a href="#" ng-click="openModal('#exampleModal')">Add</a></li>
        </ol>
    </nav>
    <div class="card">
        <div class="card-body">
            <form class="form-inline" >
                <input type="text"
                       class="form-control mb-2 mr-sm-2"
                       placeholder="First Name"
                       ng-model="author.firstName"
                >
                <input type="text"
                       class="form-control"
                       placeholder="Last Name"
                       ng-model="author.lastName"
                >

                <button ng-click="onSearch()" class="btn btn-primary mb-2">Search</button>
                <button ng-click="clearSearch()" class="btn btn-default mb-2">Clear</button>
            </form>
        </div>
    </div>
    <table class="table table-bordered m-t-1">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="author in authorList" ng-if="authorList.length > 0">
                <td>{{author.firstName}}</td>
                <td>{{author.lastName}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="onDelete(author)">Delete</button>
                    <button class="btn btn-primary" ng-click="onAddNew(author)">Edit</button>
                    <button class="btn btn-success" ng-click="onAddBook(author)">New Book</button>
                </td>
            </tr>
            <tr ng-if="authorList.length === 0">
                <td colspan="3">
                    No result found!
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" style="display: flex;" ng-if="authorList.length > 0">
        <ul class="pagination" ng-repeat="pagBtn in buttonToPaginate">
            <li class="page-item" style="margin-right: 5px"><a class="page-link" ng-click="callPaginationEvent(pagBtn.skip)">{{pagBtn.number}}</a></li>
        </ul>
    </nav>
</div>

<!-- Modal add -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adding Auhtor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="" name="addAuthorForm">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       ng-value="author.firstName"
                                       placeholder="First Name"
                                       name="firstName"
                                       required
                                       ng-model="state.firstName">
                                <p ng-show="addAuthorForm.firstName.$invalid && !addAuthorForm.firstName.$pristine"></p>
                            </div>
                            <div>
                                <input type="text" class="form-control"
                                       ng-value="author.lastName"
                                       name="lastName"
                                       required
                                       placeholder="Last Name"
                                       ng-model="state.lastName">
                                <p ng-show="addAuthorForm.lastName.$invalid && !addAuthorForm.lastName.$pristine"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button ng-disabled="addAuthorForm.$invalid" ng-if="!author" type="button" class="btn btn-success" ng-click="onAddNew()">Save</button>
                <button ng-if="author" type="button" class="btn btn-success" ng-click="onAddNew(author, true)">Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal add Book -->
<div class="modal fade" id="modalAddBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddBookLabel">Adding a Book to {{author.firstName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="" name="addBookForm">
                            <div class="form-group">
                                <input type="text" placeholder="Book Title" class="form-control" required name="firstName" ng-model="state.bookTitle">
                            </div>
                            <div class="form-group">
                                <button ng-disabled="addBookForm.$invalid" type="button" class="btn btn-primary" ng-click="onAddBook(author, true)">Save</button>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-12 m-t-1">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Auhtor Books</div>
                            <div class="panel-body">
                                <!-- List group -->
                                <table class="table">
                                    <tbody>
                                    <tr ng-if="bookList.length > 0" ng-repeat="book in bookList">
                                        <td>{{book.title}}</td>
                                        <td><button class="btn btn-primary pull-right" ng-click="onRemoveAbook(book)">X</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-if="bookList.length === 0" class="alert alert-warning" role="alert">
                            This Author has no book added yet!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--modal delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 ng-if="!book" class="modal-title" >Delete Author</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <span ng-if="!book">
                   Are you sure you want to delete author: <span class="badge badge-secondary">{{author.firstName}}</span>?
               </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button ng-if="!book" type="button" class="btn btn-primary" ng-click="onDelete(author, true)">Delete Author</button>
            </div>
        </div>
    </div>
</div>

<!--modal delete book-->
<div class="modal fade" id="modalBookDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 ng-if="book" class="modal-title" >Delete Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span ng-if="book">
                    Are you sure you want to delete book: <span class="badge badge-secondary">{{book.title}}</span>?
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button ng-if="book" type="button" class="btn btn-primary" ng-click="onRemoveAbook(book, true)">Delete Book</button>
            </div>
        </div>
    </div>
</div>